<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <display-name>btl_docbao</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controllers.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controllers.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>home</display-name>
    <servlet-name>home</servlet-name>
    <servlet-class>controllers.home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>theloai</display-name>
    <servlet-name>theloai</servlet-name>
    <servlet-class>controllers.theloai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>theloai</servlet-name>
    <url-pattern>/theloai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addBinhLuan</display-name>
    <servlet-name>addBinhLuan</servlet-name>
    <servlet-class>controllers.addBinhLuan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBinhLuan</servlet-name>
    <url-pattern>/addBinhLuan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmotionAction</display-name>
    <servlet-name>EmotionAction</servlet-name>
    <servlet-class>controllers.EmotionAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmotionAction</servlet-name>
    <url-pattern>/EmotionAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveBaiViet</display-name>
    <servlet-name>SaveBaiViet</servlet-name>
    <servlet-class>controllers.SaveBaiViet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveBaiViet</servlet-name>
    <url-pattern>/SaveBaiViet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ChangeName</display-name>
    <servlet-name>ChangeName</servlet-name>
    <servlet-class>controllers.ChangeName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeName</servlet-name>
    <url-pattern>/ChangeName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeGender</display-name>
    <servlet-name>ChangeGender</servlet-name>
    <servlet-class>controllers.ChangeGender</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeGender</servlet-name>
    <url-pattern>/ChangeGender</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeBirthday</display-name>
    <servlet-name>ChangeBirthday</servlet-name>
    <servlet-class>controllers.ChangeBirthday</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeBirthday</servlet-name>
    <url-pattern>/ChangeBirthday</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeNumberPhone</display-name>
    <servlet-name>ChangeNumberPhone</servlet-name>
    <servlet-class>controllers.ChangeNumberPhone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeNumberPhone</servlet-name>
    <url-pattern>/ChangeNumberPhone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAddress</display-name>
    <servlet-name>ChangeAddress</servlet-name>
    <servlet-class>controllers.ChangeAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAddress</servlet-name>
    <url-pattern>/ChangeAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAvatar</display-name>
    <servlet-name>ChangeAvatar</servlet-name>
    <servlet-class>controllers.ChangeAvatar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAvatar</servlet-name>
    <url-pattern>/ChangeAvatar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeEmail</display-name>
    <servlet-name>ChangeEmail</servlet-name>
    <servlet-class>controllers.ChangeEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmail</servlet-name>
    <url-pattern>/ChangeEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>controllers.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTitle</display-name>
    <servlet-name>SearchTitle</servlet-name>
    <servlet-class>controllers.SearchTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTitle</servlet-name>
    <url-pattern>/SearchTitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RemoveSaveBaiViet</display-name>
    <servlet-name>RemoveSaveBaiViet</servlet-name>
    <servlet-class>controllers.RemoveSaveBaiViet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSaveBaiViet</servlet-name>
    <url-pattern>/RemoveSaveBaiViet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBaiViet</display-name>
    <servlet-name>AddBaiViet</servlet-name>
    <servlet-class>controllers.AddBaiViet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBaiViet</servlet-name>
    <url-pattern>/AddBaiViet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBaiViet</display-name>
    <servlet-name>UpdateBaiViet</servlet-name>
    <servlet-class>controllers.UpdateBaiViet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBaiViet</servlet-name>
    <url-pattern>/UpdateBaiViet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBaiViet</display-name>
    <servlet-name>DeleteBaiViet</servlet-name>
    <servlet-class>controllers.DeleteBaiViet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBaiViet</servlet-name>
    <url-pattern>/DeleteBaiViet</url-pattern>
  </servlet-mapping>
</web-app>